/* reset styles */
@import './reset.css';

@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

body {
    font-family: Rubik;
    color: #616161;
    font-size: 75%;
    /* 12px/16 */
}

.wrapper {
    overflow: hidden;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

/*======================================
        GENERAL SETTINGS FOR CONTAINERS
  ======================================*/
[class*="__container"] {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    max-width: 1087px;
}

/*======================================
        GENERAL SETTINGS FOR TEXT-BLOCK
  ======================================*/
.text-block {}

.text-block__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 126%;
    color: #000;
    margin-bottom: 12px;
}

.text-block__title span {
    color: #EC5863;
}

.text-block__title_blue span {
    color: #4285F4;
}


.text-block__text {
    line-height: 138.5%;
    margin-bottom: 24px;
    letter-spacing: 1px;
    max-width: 375px;
}


/*======================================
        HEADER
  ======================================*/


.header {
    /* открепляем хедер и закрепляем над следующим блоком */
    position: absolute;
    top: 0;
    left: 0;

    /* выставляем его перд всеми обьектами следующего блока  */
    z-index: 50;
    /* расстягиваем хедер на всю щирину экрана */
    width: 100%;
}

.header__container {

    display: flex;
    align-items: center;
    min-height: 114px;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {}

.menu__body {}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu__item {
    margin-right: 40px;
}

.menu__link {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #000;
    font-family: Raleway;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__button {
    flex: 0 1 252px;


    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 5;
}

.button {
    display: inline-block;
    background-color: #EC5863;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.8px;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    transition: background-color 0.5s;
    text-transform: uppercase;
}

.button:hover {
    background-color: #b81621;
}

.button__blue {
    background-color: #4285F4;
}

.button__blue:hover {
    background-color: #042c6c;
}

/*======================================
        MAIN
  ======================================*/

.main {
    flex: 1 1 100%;
}

/*======================================
        TAKECARE
  ======================================*/

.takecare {
    background-color: #FAFBFD;
    padding-bottom: 48px;
    padding-top: 114px;
    position: relative;
}

.takecare::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    border-radius: 30px 0 0 30px;
    /* сдвигаем декор в право */
    transform: translate(100%, 0px);

    top: 0;
    /* сдвигаем от правого края декор в левую сторону */
    right: 35%;

    background-color: #EC5863;
}

.takecare__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 33px;
    row-gap: 60px;
}

.takecare__content {
    flex: 0 1 46%;
}


.takecare__picture {
    flex: 0 1 50%;
    z-index: 5;
}

.takecare__picture img {
    width: 100%;
}

.takecare__video {
    display: flex;
    align-items: center;
    gap: 12px;
}

.video-block {}

.video-block__play-logo {}

.video-block__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.video-block__title {
    color: #B0B0B0;
    font-size: 108.333333%;
    /* 13px/12 */
    line-height: 126%;
    letter-spacing: 0.8px;
}

.video-block__text {
    color: #000;
    font-size: 75%;
    /* 9/12 */
    line-height: 126%;
    letter-spacing: 2px;

}




/*======================================
        STAY-SAFE
  ======================================*/

.stay-safe {
    padding: 80px 0px;
}

.stay-safe__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stay-safe__picture {
    flex: 0 1 50%;
}

.picture-wrapper {
    padding-left: 48px;
}

.picture-wrapper__block {
    max-width: 338px;
    min-height: 542px;
    position: relative;
}

.picture-wrapper__picture {
    width: 229px;
    position: relative;
    top: 56px;
    left: 71px;
    z-index: 5;
}

.picture-wrapper__picture::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -13px;
    left: 10px;

    border-radius: 16px;

    width: 200px;
    min-height: 27px;
    background-color: #F0F0F0;
}

.picture-wrapper__picture>img {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.picture-wrapper__decor_1 {
    background-color: #EC5863;
    position: absolute;
    width: 147px;
    height: 147px;
    top: 0;
    left: 0;
    border-radius: 30px;
    z-index: 1;
}

.picture-wrapper__decor_2 {
    background-color: #EC5863;
    position: absolute;
    width: 77px;
    height: 77px;
    bottom: 0;
    left: 33px;
    border-radius: 30px;
    z-index: 1;
}

.picture-wrapper__decor_3 {
    background-color: #EC5863;
    position: absolute;
    width: 77px;
    height: 77px;
    bottom: 107px;
    right: 0;
    border-radius: 30px;
    z-index: 1;
}

.stay-safe__content {
    flex: 0 1 50%;
}








.footer {}