/* reset styles */
@import './reset.css';

@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

body {
    font-family: Rubik;
    color: #616161;
    font-size: 75%;
    /* 12px/16 */
}

.wrapper {
    overflow: hidden;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

/*======================================
        GENERAL SETTINGS FOR CONTAINERS
  ======================================*/
[class*="__container"] {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    max-width: 1087px;
}

/*======================================
        GENERAL SETTINGS FOR TEXT-BLOCK
  ======================================*/
.text-block {}

.text-block__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 126%;
    color: #000;
    margin-bottom: 12px;
}

.text-block__title_blue span {
    color: #4285F4;
}

.text-block__text {
    line-height: 138.5%;
    margin-bottom: 24px;
    letter-spacing: 1px;
    max-width: 375px;
}

.text-block__button {}



/*======================================
        HEADER
  ======================================*/


.header {
    /* padding: 38px 0; */
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 114px;

}

.header__logo {}

.header__menu {
    flex: 1 1 auto;
}

.menu {}

.menu__body {}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu__item {
    margin-right: 40px;
}

.menu__link {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #000;
    font-family: Raleway;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__button {
    flex: 0 1 252px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: inline-block;
    background-color: #EC5863;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.8px;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #b81621;
}

.button__blue {
    background-color: #4285F4;
}

.button__blue:hover {
    background-color: #042c6c;
}

/*======================================
        MAIN
  ======================================*/

.main {
    flex: 1 1 100%;
}

/*======================================
        TAKECARE
  ======================================*/

.takecare {
    background-color: #FAFBFD;
}

.takecare__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 33px;
    row-gap: 60px;
}

.takecare__content {
    flex: 0 1 46%;
}

.takecare__text-block {}

.button {}

.takecare__picture {
    flex: 0 1 50%;
}

.takecare__picture img {
    width: 100%;
}

.takecare__video {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 48px;
}

.video-block {}

.video-block__play-logo {}

.video-block__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.video-block__title {
    color: #B0B0B0;
    font-size: 108.333333%;
    /* 13px/12 */
    line-height: 126%;
    letter-spacing: 0.8px;
}

.video-block__text {
    color: #000;
    font-size: 75%;
    /* 9/12 */
    line-height: 126%;
    letter-spacing: 2px;

}

.footer {}